__pycache__/
.mypy_cache/
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
docs/_build
docs/locales.rst
docs/locales/*.rst
docs/providers.rst
docs/providers/*.rst
eggs
.eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.python-version
.idea
.projectile
.ropeproject
.DS_Store
.venv

# IDE
*.sw[po]
*.iml
*.ipr
venv/
.vscode
