black>=24.8.0
check-manifest
coverage>=5.2
doc8>=1.1.1
flake8-comprehensions
flake8>=4.0.0
freezegun>=1.5.1
isort>=5.13.2
mypy-extensions>=1.0.0
mypy>=1.15.0
packaging>=25.0
pytest>=6.0.1
setuptools>=80.9.0
tox>=4.24.1
twine>=6.2.0
validators>=0.34.0
wheel>=0.45.1
