# from tox.ini
coverage>=5.2
freezegun<0.4
pytest>=6.0.1
ukpostcodeparser>=1.1.1
validators>=0.13.0
sphinx>=2.4,<3.0
Pillow
xmltodict
flake8>=4.0.0
flake8-comprehensions
isort
mypy==0.910
black==24.4.0
doc8