include README.rst
include LICENSE.txt
include CONTRIBUTING.rst
include CHANGELOG.md
include RELEASE_PROCESS.rst
include VERSION
recursive-include tests *.json
recursive-include tests *.py
recursive-exclude faker/sphinx *.py
recursive-exclude tests/sphinx *.py

global-exclude *.py[cod] __pycache__ *.so
exclude Makefile tox.ini .coveragerc .bumpversion.cfg .dockerignore .isort.cfg
exclude ISSUE_TEMPLATE.md PULL_REQUEST_TEMPLATE.md
exclude appveyor.yml readthedocs.yml
exclude build-alpine.sh
exclude build32bit.sh
prune docs
prune .circleci
